@import url("https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Mina:wght@400;700&family=Patrick+Hand+SC&family=Roboto+Slab:wght@100..900&family=Satisfy&display=swap");

* {
  font-family: "Playwrite RO", cursive;
  font-optical-sizing: auto;
  font-size: 24px;
}

/* -----------------MENIU ------------------*/

.navbar-color {
  background-color: #ffd863;
}
.multicolor-title {
  display: flex;
  align-items: center;
  margin-left: 0;
  font-weight: bold;
}

img {
  width: 90px;
  height: 90px;
  font-size: 32px;
  margin-right: 10px;
}
.nav-link {
  background-color: #0d926a;
  color: #fff;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #7f7f7f;
}
.button-display {
  text-align: center;
  font-size: 24px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: #51c466;
  color: #fff;
}

.nav-link:hover {
  opacity: 0.9;
  color: #fff;
}

.nav-link:focus {
  outline: none;
  color: #fff;
}

.dropdown-toggle .dropdown-title > .dropdown-item {
  color: #0d926a;
}

.dropdown-item {
  font-size: 18px;
}

.menu-button {
  color: #d71515;
}
.menu-button .menu-button-list .nav-item > .nav-link {
  margin-left: 20px;
}

/*------------- PHOTO-RANDOM------------- */

.container-cover {
  height: 100vh;
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.6),
      rgba(32, 32, 32, 0.6)
    ),
    url(../assets/wallpaper.jpg);
  background-size: cover;
  color: #fff;
}

.random-photo-title {
  font-size: 32px;
  color: #fff;
  font-weight: 400;
}
.random-photo-subtitle {
  font-size: 24px;
}
.random-photo-button {
  background-color: #0d926a;
  border: none;
  font-size: 24px;
}

.random-photo-button:hover {
  background-color: #51c466;
}

.random-photo {
  width: 50%;
  height: 50%;
}

/* FOOTER */

footer {
  background-color: #ffd863;
}
